* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

#root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h3,
h4 {
    margin: 0;
}
